#
# Compass Configuration
#

# Plugins
require 'susy'

# HTTP paths
http_path             = '/'
http_stylesheets_path = '/a/c'
http_images_path      = '/a/i'
http_javascripts_path = '/a/j'

# File system locations
sass_dir              = 'scss'
css_dir               = 'public/a/c'
images_dir            = 'public/a/i'
javascripts_dir       = 'public/a/j'

# Set to true for easier debugging
line_comments         = false

# CSS output style - :nested, :expanded, :compact, or :compressed
output_style          = :compressed

# Determine whether Compass asset helper functions generate relative
# or absolute paths
relative_assets       = true

# Learn more:
#   http://compass-style.org/docs/tutorials/configuration-reference/
