<%
@title = "Patrick & Medb are getting married!"
@bodyclass = "hello"
%>

<div class="main">
  <header role="banner" class="banner">
    <div class="bg"></div>
    <div class="container">
      <h1><span>Patrick Marsceill &amp; Medb McGearty</span></h1>
      <h2>are getting married on October&nbsp;12,&nbsp;2013</h2>
      
    </div>
  </header>
  <nav role="navigation" class="nav-bar">
    <ul>

      <li>
        <a href="#rsvp">RSVP</a>
      </li>
      <li>
        <a href="#registry">Registry Information</a>
      </li>
      <li>
        <a href="#location">Location &amp; Accomodations</a>
      </li>
    </ul>
  </nav>
  <section class="intro" id="intro">

  </section>
  <section class="rsvp" id="rsvp">
    <div class="container">
     <h2>RSVP</h2>
     <p>Please fill out all fields.</p>
     <form action="https://docs.google.com/forms/d/11RWWZtRcf4LXDAX8NE2XwgznlTrHcDFDwTw3TXnjoVE/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
       <div class="ss-form-question errorbox-good name">
         <div dir="ltr" class="ss-item ss-item-required ss-text">
          <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_835182627">
           <div class="ss-q-title">First name
             <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
           </div>
           <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
           <input type="text" name="entry.835182627" value="" class="ss-q-short" id="entry_835182627" dir="auto" aria-required="true">

         </div></div></div> <div class="ss-form-question errorbox-good name">
         <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_881033673"><div class="ss-q-title">Last name
           <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
         </div>
         <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
         <input type="text" name="entry.881033673" value="" class="ss-q-short" id="entry_881033673" dir="auto" aria-required="true">

       </div></div></div> <div class="ss-form-question errorbox-good">
       <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1334973350"><div class="ss-q-title">Will you be attending our wedding on 10/12/13?
         <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
         <!-- <span class="ss-required-asterisk">*</span> --></div>
         <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

         <ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1058910451" value="Yes! I will be there" id="group_1058910451_1" class="ss-q-radio" aria-label="Yes! I will be there"></span>
           <span class="ss-choice-label">Yes! I will be there</span>
         </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1058910451" value="No, I regretfully decline" id="group_1058910451_2" class="ss-q-radio" aria-label="No, I regretfully decline"></span>
         <span class="ss-choice-label">No, I regretfully decline</span>
       </label></li></ul>
     </div></div></div> <div class="ss-form-question errorbox-good guests">
     <div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1591357285"><div class="ss-q-title">How many guests will be attending?
     </div>
     <div class="ss-q-help ss-secondary-text" dir="ltr">(including you)</div></label>

     <table border="0" cellpadding="5" cellspacing="0" id="entry_235085308"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
       <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_235085308_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_235085308_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_235085308_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_235085308_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_235085308_5">5</label></td>
       <td class="ss-scalenumbers"></td></tr>
       <tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo"></div>
       </td>
       <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.235085308" value="1" id="group_235085308_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.235085308" value="2" id="group_235085308_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.235085308" value="3" id="group_235085308_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.235085308" value="4" id="group_235085308_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.235085308" value="5" id="group_235085308_5" class="ss-q-radio" aria-label="5"></div></td>
       <td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true"></td></tr></tbody></table>
     </div></div></div>
     <input type="hidden" name="draftResponse" value="[]
     ">
     <input type="hidden" name="pageHistory" value="0">


     <div class="ss-item ss-navigate"><div class="ss-form-entry" id="navigation-buttons" dir="ltr" style="display: inline-block">
       <input type="submit" name="submit" class="btn" value="Submit" id="ss-submit">
       <!-- <div class="ss-secondary-text">Never submit passwords through Google Forms.</div> --></div>
     </div></ol></form>
   </div>
 </section>


 <section class="registry" id="registry">
  <div class="bg">
  </div>
  <div class="container">
    <h2>Registry Information</h2>
    <p>Patrick and Medb are registered at the following retailers:</p>

    <ul class="registry-list">
      <li><div class="inner">
        <a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=2109233"><img src="/a/i/bloomingdales.jpg" alt="Bloomingdale's"></a>
      </div></li>
      <li>
        <div class="inner">
          <a href="http://www.crateandbarrel.com/Gift-Registry/Patrick-Marsceill-and-Medb-McGearty/r5069193"><img src="/a/i/cratebarrel.jpg" alt="Crate &amp; Barrel"></a>
        </div>
      </li>
      <li class="fishseddy">
        <div class="inner">
          <a href="http://apps.agenne.com/RegistryDisplay.cfm?id=26912&cid=236"><img src="/a/i/fishseddy.jpg" alt="Fishs Eddy"></a>
        </div>
      </li>
      <li>
        <div class="inner">
          <a href="https://secure.williams-sonoma.com/registry/z5k2mdfwjz/registry-list.html"><img src="/a/i/williamssonoma.gif" alt="Williams Sonoma"></a>
        </div>
      </li>
    </ul>
    <div class="donate-wrap">
      <p class="description">In lieu of giving a gift, a donation may also be made toward Patrick &amp; Medb's honeymoon in Europe:</p>

      <form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="UT5WBHAW7MQ6C">
        <label for="amount">$</label>
        <input type="text" name="amount" id="amount">
        <input type="hidden" name="item_name" id="item_name" value="Patrick and Medb's Honeymoon">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
        <input type="submit" name="submit" class="btn" value="Donate with PayPal">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

</section>
<section class="map" id="location">
  <div class="bg">

  </div>
  <div class="container">
    <h2>Location &amp; Accomdations</h2>
    <article class="location-desc">
      <div class="bg"></div>
      <div class="inner">
        <h4>Ceremony &amp; Reception</h4>
        <p class="adr">
         <span>352 Jefferson Road</span>
         <span>Princeton, New Jersey</span>
       </p>
       <p>
        <a href="http://goo.gl/maps/BdkvV" class="btn">Map & Directions &raquo;</a>
      </p>              
    </div>
  </article>
  <article class="location-desc">
    <div class="bg"></div>
    <div class="inner">
      <h4>Accomodations</h4>
      <p>We have secured a discounted rate at:</p>
      <p class="adr">
       <span>The Hyatt Regency Princeton</span>
       <span>102 Carnegie Center</span>
       <span>Princeton, New Jersey 08540</span>
     </p>
     <p>
       <a href="http://aws.passkey.com/event/10720016/owner/1460354/home" class="btn">Book A Room &raquo;</a>
     </p>

     <h6>Other local hotels:</h6>
     <ul>
       <li><a href="http://www.marriott.com/hotels/travel/ttnww-residence-inn-princeton-at-carnegie-center/">Residence Inn Princeton at Carnegie Center</a></li>
       <li>
         <a href="http://doubletree3.hilton.com/en/hotels/new-jersey/doubletree-by-hilton-hotel-princeton-PCTDTDT/index.html">Double Tree by Hilton Princeton</a>
       </li>
     </ul>
   </div>

 </p>
</article>
</div>
<!--  <div id="map-frame" style="height:30em;"></div> -->
         <!-- <script type='text/javascript'>
           var map = L.mapbox.map('map-frame', 'http://a.tiles.mapbox.com/v3/pmarsceill.map-9vnxbrm3.json')
            .setView([40.36333209728266, -74.67070302925245], 11);
           map.dragging.disable();
           map.touchZoom.disable();
           map.doubleClickZoom.disable();
           map.scrollWheelZoom.disable();
           map.markerLayer.on('click', function(e) {
                   map.panTo(e.layer.getLatLng());
               });
             </script>-->
           </section>
         </div>
