body {
	@include base-font;
}
h1 {
	
}
h2 {
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #fff;
	text-align: center;
	
	text-transform: uppercase;
	letter-spacing: .15em;
	line-height: 1.2em;
	font-size: 1.3em;
	margin-bottom: 1em;

	@include at-breakpoint($middle) {
		letter-spacing: .3em;
		line-height: 1.12em;
		font-size: 2em;
		margin-bottom: 1em;

	}
	@include at-breakpoint($large-screen) {
		font-size: 2.5em;
	}
	
}
h3 {
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #fff;
	letter-spacing: .15em;
	line-height: 1.1em;
	font-size: 1em;
	@include at-breakpoint($middle) {
		letter-spacing: .2em;
		line-height: 1.0em;
		font-size: 2.0em;
		margin-bottom: 1em;
	}
}
h4 {
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #fff;
	letter-spacing: .15em;
	line-height: 1.1em;
	font-size: .8em;
	margin-bottom: 1em;
	text-transform: uppercase;
	@include at-breakpoint($middle) {
		letter-spacing: .2em;
		line-height: 1.3em;
		font-size: 1.3em;
		margin-bottom: 1em;
	}
}
p {
	color: #fff;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
	@include at-breakpoint($middle) {
		line-height: 1.2em;
		font-size: 1.3em;
		margin-bottom: 1.5em;
	}
}
body {
	background: #000;
}
.main {
	background: url('/a/i/bg-paris.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
.bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	@include opacity(.6);
	z-index: 0;	
}