.banner {
	position: relative;
	@include box-shadow(black 30px 30px 100px inset, black -30px 0px 100px inset);

	.bg {
	}
	.container {
		z-index: 1;
		position: relative;
		padding-top: 1em;
		@include at-breakpoint($middle) {
			padding-top: 2em;
			
		}
	}
	h1 {
		span {
			display: none;
		}
		background-image: url('/a/i/headline.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 5em;
		margin-bottom: 1em;
		@include at-breakpoint($middle) {
			height: 10em;
		}
		@include at-breakpoint($large-screen) {
			height: 12em;
		}
	}
	h2 {
		font-family: "coquette";
		font-style: normal;
		font-weight: 300;
		text-transform: none;
		letter-spacing: inherit;
	}
////	height: 12em;
////	@include at-breakpoint($middle) {
////		height: 18em;
////	}
////	@include at-breakpoint($large-screen) {
////		height: 20em;	
//	}
	
}