.nav-bar {
	ul {
		li {
			@include at-breakpoint($middle) {

				display: inline-block;
				border-right: 1px solid #aaa;
				margin-right: $grid-padding;

			}
			a {
				text-decoration: none;
				font-family: "jubilat",sans-serif;
				font-style: normal;
				font-weight: 400;
				color: #fff;
				color: #000;
				text-transform: uppercase;
				display: block;
				position: relative;
				padding-top: $grid-padding;
				padding-bottom: $grid-padding;
				font-size: .8em;
				
				@include at-breakpoint($middle) {
					letter-spacing: .12em;
					font-size: 1.0em;
					padding-right: $grid-padding;
					@include transition(top 0.15s ease-out);
					&:hover {
						top: -.2em;
					}
				
				}
				@include at-breakpoint($large-screen) {
					letter-spacing: .12em;
					font-size: 1.4em;
				}
				
				
			}
			&:last-child {
				margin-right: 0;
				border-right: 0;

				a {
					padding-right: 0;
				}
			}
		}
		text-align: center;
		
	}
	background: #fff;
	@include opacity(.75);
}