.registry {
	position: relative;
	padding-bottom: 3em;
	.donate-wrap {
		border-top: 1px solid #fff;
		padding-top: $grid-padding * 2;
	}
	.description {
		@include at-breakpoint($middle) {
			@include span-columns (6, 12);
			
		}		
	}
	.donate {
		@include at-breakpoint($middle) {

			@include span-columns (6 omega, 12);
		}
		font-family: 'jubilat', serif;
		text-align: center;
		label {
			font-size: 1.6em;
			font-weight: 200;
			text-transform: uppercase;
			line-height: 1.4em;
			color: #fff;
			padding-bottom: .5em;
			letter-spacing: .14em;
			display: inline-block;
		}
		input[type="text"] {
			width: 4em;
			display: inline-block;
			font-size: 1.4em;
			margin-right: .75em;
		}

		.helper {
			font-size: .8em;
			color: #aaa;
		}
		
	}
	.container {
		z-index: 1;
		position: relative;
		padding-top: 3em;
		text-align: center;
	}
	.registry-list {
		text-align: center;
		li {
			margin-bottom: 1em;
			display: inline-block;
			width: 12%;
			margin-right: 1em;
			background: #fff;
			padding: 4%;
			overflow: hidden;
			position: relative;
			@include border-radius(.5em);
			@include transition(top 0.15s ease-out);
			border: .5em solid #fff;
		  min-width: 3em;
      min-height: 1em;
      z-index: 1;
			
			&:first-child {
//				margin-left: 2em;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				top: -.2em;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
			}
			img {
				position: relative;
				top: .5em;
        @include at-breakpoint($middle) {
          top: 30%;
        }
				width: 100%;
        height: auto;
				z-index: 99;
			}
      &.fishseddy {
        img {
          top: .5em;
          @include at-breakpoint($middle) {
            top: 5%;          
          }
        }
      }
		}
	}
}