.registry {
	position: relative;
	padding-bottom: 3em;
	.container {
		z-index: 1;
		position: relative;
		padding-top: 3em;
		text-align: center;
	}
	.registry-list {
		text-align: center;
		li {
			margin-bottom: 1em;
			display: inline-block;
			width: 12%;
			margin-right: 1em;
			background: #fff;
			padding: 4%;
			overflow: hidden;
			position: relative;
			@include border-radius(.5em);
			border: .5em solid #fff;
		
			&.fishseddy {
				img {
					top: 5%;					
				}
			}
			&:first-child {
//				margin-left: 2em;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				top: -.2em;
			}
			a {
				display: block;
				
			}
			img {
				width: 100%;
				top: 30%;
				left: 0;
				position: absolute;
				
				
			}
		}
	}
}