.rsvp {
	background-color: #fffcf1;
	padding: $grid-padding*2 0 $grid-padding*2;
	h2, p {
		color: #000;
		text-align: center;
	}

	form {
		font-family: 'jubilat', serif;
		text-align: center;
		.ss-form-question {
			display: inline-block;
			margin-bottom: $grid-padding*2;
			width: 100%;
			&.name {
				@include at-breakpoint(35em) {
					width: 40%;
				}
			}
			table {
				margin: 1em auto 0 auto;
				
			}
		}
		.ss-q-title {
			padding-bottom: .5em;
			letter-spacing: .14em;
		}
		.ss-secondary-text {
			font-size: .8em;
			color: #aaa;
		}
		.ss-q-title {
			font-size: 1.2em;
			font-weight: 200;
			text-transform: uppercase;
			line-height: 1.4em;
		}
		.ss-choices {
			margin-top: 1em;
		}
		.ss-choice-item {
			display: inline-block;
			width: 45%;
			vertical-align: top;
		}
		.guests {
			display: none;
		}
		
		
	}
}